@import "tailwindcss";

@keyframes fade {
  0% { opacity: 1; }
  33.33% { opacity: 0; }
  66.66% { opacity: 0; }
  100% { opacity: 1; }
}

/* Sticky fix override */
html, body {
  overflow: visible !important;
  height: auto !important;
}
